# Web Framework
Flask==3.0.2
flask-cors==4.0.0
gunicorn==21.2.0

# Scraping Dependencies
playwright==1.42.0
requests==2.31.0
beautifulsoup4==4.12.2
aiohttp==3.9.3

# Utils
python-dotenv==1.0.1

# Production Dependencies
sentry-sdk[flask]==1.40.0
prometheus-flask-exporter==0.23.0

# Testing Dependencies
pytest==7.4.3
pytest-asyncio==0.23.5
pytest-playwright==0.4.3 